body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #e7f6ff;*/
  background-color:#9b9b9b;
  color:white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Область с основным контентом страницы*/
.wrapper {
  /*background: #ffffff;*/
  background: #333332;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.remove{
  height: 100%;
}

/*-------------------*/

/*Заголовок*/
header {
  border-bottom: 1px solid #eaeaea;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

header img{
  margin-right: 15px; 
}

header h3{
  margin: 0;
  text-transform: uppercase;
}

header p{
  margin: 0;
  opacity: 0.5;
}

header div:first-child{
  display:flex;
  align-items: center;
}
/*------------------*/


/*Поле с кроссовками*/
.content{
  padding: 40px;
  position: relative;
  height: 100%;
  min-height: 720px;
}

.content h1 {
    margin: 0;
    margin-bottom: 40px;
}

/*-----------------*/


/*Карточка*/
.card {
  border: 1px solid #d9d9d9;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  margin:15px;
  position:relative;
}

.card:hover{
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
  background-color: #2f2e2e;
  transition: 0.5s;
}

.card span{
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}

.card b{
  font-size: 14px;
}

.card h5{
  font-weight: 400;
  font-size: 14px;
}

/*-----------------------*/


/*поле покупок и избранные*/
ul{
  display:flex;
}

ul:first-child{
  margin: 30px;
}

li{
  display:flex;
  justify-content: center;
  align-items: center;
}
/*--------------*/


.container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ds-f{
  display:flex;
  flex-wrap: wrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none; /* Убираем маркеры */
  margin:0 10px;
 }


 .cardChildDiv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position:relative;
}





.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  display:flex;
  position:absolute;
  right: 5%;
  top: 50px;
}

.search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
  outline:none;
  background: #333332;
}

.search-block img:first-child{
  width: 18px;
  height: 18px;
  position: absolute;
  top:30%;
  left:3px;
}

.clearSearch{
  position:absolute;
  right: 10px;
  top:12px;
  width: 18px;
  height: 18px;
}


.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  /*background: #ffffff;*/
  background: #333333;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

}

.drawer  .items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.drawer  h2 {
  margin: 0;
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cartTotalBlock ul{
  display: block;
  margin-bottom: 40px !important;
}

.cartTotalBlock ul li{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
  
.cartTotalBlock ul li div{
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;

}




.greenButton {
    position: relative;
}


.greenButton img{
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
}
    
.greenButton &:hover img {
        transform: translateX(5px);
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.greenButton &:hover {
    background: lighten(#9dd558, 5%);
}

.greenButton &:active {
    background: darken(#9dd558, 5%);
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display:flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartItem  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.cartItem p {
    font-size: 16px;
    margin: 0;
}

.cartItem  b {
    font-size: 14px;
}

.cartItem   .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
}
 
.cartItem   .removeBtn &:hover {
      opacity: 1;
}

.cartText{
  margin-right: 20;
  flex: 1;
}

.cartText{
  margin-bottom: 5px;
}


.cartEmpty {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  min-height: 720px;
}

.cartEmptyp p{
    width: 280px;
    line-height: 24px;
}

.cartEmpty .greenButton{
    width: 245px;
    margin-top: 20px;
}

.cartEmpty .greenButton &:hover img {
        transform: rotate(180deg) translateX(3px);
}

.cartEmpty .greenButton img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
}

.op-6{
  opacity: 0.6;
}

.colorGreen{
  color:#9dd558;
}


.block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin:10px 0;
  justify-content: start;
}


.main{
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk{
  display: none;
}
.signup{
  position: relative;
  width:100%;
  height: 100%;
}
label{
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
form input{
  width: 60%;
  height: 10%;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.Button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
.Button:hover{
  background: #6d44b8;
}
.login{
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label{
  color: #573b8a;
  transform: scale(.6);
}
 
#chk:checked ~ .login{
  transform: translateY(-500px);
}
#chk:checked ~ .login label{
  transform: scale(1);  
}
#chk:checked ~ .signup label{
  transform: scale(.6);
}



:root {
  --light: #d8dbe0;
  --dark: rgb(31, 29, 29);
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.toggle-switch {
  position: absolute;
  width: 100px;
}

.Label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
}

.Input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.Input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  box-shadow: inset 14px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.Input:checked ~ .slider::before {
  transform: translateX(47px);
  background-color: var(--dark);
  box-shadow: none;
}


